<style>
    .head {
        font-style: italic;
    }
</style>
<div class="head">
    <span class="sm-text">Travel.alfabank.ru</span><br>
    {% if ticket.reservation.crs_code %}
        <span class="sm-text">{{ ticket.reservation.crs_code }}</span><br>
    {% endif %}
    <span class="sm-text">{{ order.partnerPhone }}</span>
</div>
<br>
<br>
