<style>
  .head {
    font-style: italic;
  }
</style>
<div class="head">
  <img src="http://s.aviakassa.ru/images/logo-visa.png" alt="" style="vertical-align: middle;width: 150px;"/>
  &nbsp;&nbsp;
  <img src="http://s.aviakassa.ru/images/logo-ak.png" alt="" style="vertical-align: middle;width: 200px;"/>
  <br>
  <br>
  <span class="sm-text">visa.aviakassa.com</span><br>
  {% if ticket.reservation.crs_code %}
    <span class="sm-text">{{ ticket.reservation.crs_code }}</span><br>
  {% endif %}
</div>
<br>
<br>
