<br>
Это письмо автоматическое, не отвечайте на него
<br>
<br>
<br>
Вы сделали заявку на восстановление пароля.
<br>
<br>
<br>
Для восстановления пароля перейдите по ссылке
<a href="{{ url }}" target="_blank">Восстановить пароль</a>
<br>
<br>
<br>
С уважением, Travel.alfabank.ru
