<table style="width: 778px; border-collapse: collapse; margin-left: auto; margin-right: auto; border: 1px solid #000;" cellspacing="0" cellpadding="9">
  <tbody>
  <tr>
    <td style="width: 80%; padding: 5px 10px; text-align: center; border-right: 1px solid #000" height="77">
      <strong style="font-size: large;">Ключевой информационный документ<br /> об условиях медицинского страхования по договору страхования <br/> путешествующих по России</strong>
    </td>
    <td rowspan="2" style="padding: 0cm; text-align: center; width: 20%; border: none">
      <p align="right"><a style="background-image: url('img/anchor.gif');" name="_GoBack"></a>&nbsp;<img style="display: block; margin-left: auto; margin-right: auto;" src="blob:https://cms.aviakassa.com/a1507913-2df3-4f9e-9688-729efd22d31e" alt="" width="154" height="154" /></p>
    </td>
  </tr>
  <tr>
    <td style="width: 80%; text-align: justify; padding: 5px 10px; font-family: Times New Roman, serif; font-size: medium; border-right: 1px solid #000" align="justify">
      <p>подготовлен на основании &laquo;Правил страхования экстренных медицинских и транспортных расходов во время поездки по России&raquo; от 03.06.2022 (далее &ndash; Правила страхования № 1), &laquo;Правил страхования от несчастных случаев на время поездок по России&raquo; от 03.06.2022 (далее &ndash; Правила страхования № 2), &laquo;Правил страхования багажа на время поездок&raquo; от 03.06.2022 (далее &ndash; Правила страхования № 3)</p>
    </td>
  </tr>
  </tbody>
</table>
<table style="width: 778px; margin-left: auto; margin-right: auto;" border="1px solid rgb(0, 0, 0)" width="778" cellspacing="0" cellpadding="9"><colgroup><col width="759" /></colgroup>
  <tbody>
  <tr>
    <td style="border: 1px solid #000000; padding: 5px 10px; font-size: medium; font-family: Times New Roman, serif;" valign="top">
      <p style="margin-bottom: 0cm;" align="justify">
        <span style="">Страховщик: СПАО &laquo;Ингосстрах&raquo;.<br /></span>
        <span style="font-family: Times New Roman, serif; font-size: medium;">Адрес: 117997, г. Москва, ул. Пятницкая, д. 12, стр. 2</span>
      </p>
    </td>
  </tr>
  </tbody>
</table>
<table style="width: 778px; margin-left: auto; margin-right: auto;" border="1px solid rgb(0, 0, 0)" width="778" cellspacing="0" cellpadding="9"><colgroup><col width="759" /></colgroup>
  <tbody>
  <tr>
    <td style="border: 1px solid #000000; padding: 5px 10px; text-align: center; font-family: Times New Roman, serif;" valign="top">
        <strong>Раздел I. ЧТО ЗАСТРАХОВАНО?</strong>
    </td>
  </tr>
  <tr>
    <td style="border: 1px solid #000000; padding: 5px 10px; font-size: medium;" valign="top">
      <p style="margin-bottom: 0cm;" align="justify">
        <span style="font-family: Times New Roman, serif;">Договор страхования предусматривает защиту от следующих рисков:<br /></span>
        <span style="font-family: Times New Roman, serif; font-size: medium;">- <em><strong>по страхованию экстренных медицинских и транспортных расходов</strong></em> Страховщик возмещает непредвиденные в связи с обращением за оказанием медицинской помощи в связи с внезапным заболеванием, несчастным случаем, смертью: <em>Расходы по экстренной медицинской помощи услуги</em> (по лечению в стационаре, амбулаторному лечению; на оплату назначенных врачом медикаментов, перевязочных средств и средств фиксации; на экстренную стоматологическую помощь (п. 4.1 &laquo;А&raquo; Правил страхования № 1)), <em>Расходы на медико-транспортную помощь</em> (эвакуация, экстренная медицинская репатриация, медицинская репатриация (п. 4.1 &laquo;Б&raquo; Правил страхования № 1)), <em>Расходы на транспортные услуги</em> (по возвращению домой, если отъезд задержался из-за госпитализации; по возращению несовершеннолетних детей, оставшихся без присмотра (п. 4.1 &laquo;В&raquo; Правил страхования № 1)), <em>Расходы на репатриацию останков</em> (п. 4.1 &laquo;Г&raquo; Правил страхования № 1), <em>Расходы Сервисного Центра по организации помощи</em> (п. 4.1 &laquo;Д&raquo; Правил страхования № 1).<br /></span>
        <span style="font-family: Times New Roman, serif; font-size: medium;">- <em>если в договоре добровольного страхования установлена страхования сумма по страхованию багажа: полная гибель или утрата (пропажа), повреждение перевозчиком (уполномоченным им лицом) зарегистрированного багажа в соответствии с пп. 20.1.1, 20.1.2 Правил страхования № 3.<br /></em></span>
        <span style="font-family: Times New Roman, serif; font-size: medium;">- <em>если в договоре добровольного страхования установлена страховая сумма по страхованию от несчастных случаев, произошедших в течение срока страхования: &laquo;Травма&raquo; (предусмотренная &laquo;Таблицей размеров страховых выплат в связи с несчастным случаем&raquo; (Приложение № 2 к Правилам страхования № 1), &laquo;Инвалидность в результате несчастного случая&raquo;, &laquo;Смерть в результате несчастного случая&raquo;.</em> <br /></span>
        <span style="font-family: Times New Roman, serif; font-size: medium;">Смерть и инвалидность признаются страховыми случаями, если они наступили в течение одного года со дня несчастного случая, произошедшего в течение действия страхования</span>
    </td>
  </tr>
  </tbody>
</table>
<table style="width: 778px; margin-left: auto; margin-right: auto;" border="1px solid rgb(0, 0, 0)" width="778" cellspacing="0" cellpadding="9"><colgroup><col width="759" /></colgroup>
  <tbody>
  <tr>
    <td style="border: 1px solid #000000; padding: 5px 10px; text-align: center; font-family: Times New Roman, serif;" valign="top">
      <strong>Раздел II. ЧТО НЕ ЗАСТРАХОВАНО?</strong>
    </td>
  </tr>
  <tr>
    <td style="border: 1px solid #000000; border-bottom: none; padding: 5px 10px; font-size: medium;" valign="top" width="759">
      <p style="margin-bottom: 0cm; orphans: 0; widows: 0;" align="justify">
        <span style="font-family: Times New Roman, serif;">
          <strong>Не являются страховыми случаями&nbsp;и не покрываются непредвиденные расходы</strong>
        </span>
        <strong style="font-size: medium; font-family: 'Times New Roman', serif;">:<br /></strong>
        <span style="font-family: Times New Roman, serif; font-size: medium;">- не санкционированные Сервисным Центром Страховщика, оплаченные без обращения в Сервисный центр Страховщика при отсутствии на то уважительных причин<br /></span>
        <span style="font-family: Times New Roman, serif; font-size: medium;">- на лечение (экстренное, неэкстренное, плановое), организацию иных услуг (транспортных, посмертной репатриации) хронических заболеваний, а также заболеваний, известных или существующих к моменту заключения договора страхования, либо связанные с лечением, проводимым до начала страхования, а также если поездка противопоказана по здоровью<br /></span>
        <span style="font-family: Times New Roman, serif; font-size: medium;">- на пребывание, проживание, транспортные расходы, питание в карантине, обсервации<br /></span>
        <span style="font-family: Times New Roman, serif; font-size: medium;">- на услуги за пределами РФ, после возвращения из поездки или после прекращения действия договора<br /></span>
        <span style="font-family: Times New Roman, serif; font-size: medium;">- на проведение диагностических манипуляций, консультаций, исследований, контрольных осмотров без последующего лечения, профилактических мероприятий, врачебных экспертиз, общих медицинских осмотров<br /></span>
        <span style="font-family: Times New Roman, serif; font-size: medium;">- на ангиографию и сложные операции (на сердце и сосудах, ангиопластика, стентирование, шунтирование и т. п.)<br /></span>
        <span style="font-family: Times New Roman, serif; font-size: medium;">- в связи с и на лечение онкологических/опухолевых заболеваний<br /></span>
        <span style="font-family: Times New Roman, serif; font-size: medium;">- на ведение, прерывание беременности, родовспоможение, уходом за новорожденным<br /></span>
        <span style="font-family: Times New Roman, serif; font-size: medium;">- в связи с патологическим протеканием беременности, осложнениями при беременности<br /></span>
        <span style="font-family: Times New Roman, serif; font-size: medium;">- на лечение солнечных ожогов, острых изменений кожного покров под действием УФИ<br /></span>
        <span style="font-family: Times New Roman, serif; font-size: medium;">- алкогольным, наркотическим, токсическим, иным опьянением<br /></span>
        <span style="font-family: Times New Roman, serif; font-size: medium;">- стихийными бедствиями, эпидемиями, карантином, метеоусловиями<br /></span>
        <span style="font-family: Times New Roman, serif; font-size: medium;">- занятия экстремальным спортом (альпинизм, скалолазание, трекингом, дайвингом, катанием на горных лыжах и сноуборде вне специально оборудованных и предназначенных трасс и пр.)<br /></span>
        <span style="font-family: Times New Roman, serif; font-size: medium;">- на лечение в барокамере<br /></span><span style="font-family: Times New Roman, serif; font-size: medium;">- на проведение дезинфекции, вакцинации<br /></span>
        <span style="font-family: Times New Roman, serif; font-size: medium;">- на диагностирование и лечение серных пробок<br /></span>
        <span style="font-family: Times New Roman, serif; font-size: medium;">- лечение венерических заболеваний, ЗППП, ВИЧ-инфекции, СПИДа, гепатита, их последствий (осложнений)<br /></span>
        <span style="font-family: Times New Roman, serif; font-size: medium;">- купированием, лечением психических, нервных заболеваний, судорожных состояний, неврозов<br /></span>
        <span style="font-family: Times New Roman, serif; font-size: medium;">- на пластическую и восстановительную хирургию, трансплантацию, протезирование (вкл. зубное, глазное)<br /></span>
        <span style="font-family: Times New Roman, serif; font-size: medium;">- на протезирование зубов, ортодонтическое лечение, установку зубных имплантов, косметические и профилактические мероприятия, удаление зубного камня<br /></span>
        <span style="font-family: Times New Roman, serif; font-size: medium;">- на лечение вследствие добровольного отказа от выполнения предписаний врача<br /></span>
        <span style="font-family: Times New Roman, serif; font-size: medium;">- на мануальную терапию, рефлексотерапию, хиропрактику, массаж и т.п., реабилитацию, физиотерапию, санатории и т. п., а также лечение и репатриацию из-за заболеваний, явившихся следствием этого лечения<br /></span>
        <span style="font-family: Times New Roman, serif; font-size: medium;">- на лечение, не назначенное врачом, а также уход и лечение родственниками<br /></span>
        <span style="font-family: Times New Roman, serif; font-size: medium;">- на дополнительный комфорт в стационаре, на переводчика<br /></span>
        <span style="font-family: Times New Roman, serif; font-size: medium;">- службой в любых вооруженных силах и формированиях<br /></span>
        <span style="font-family: Times New Roman, serif; font-size: medium;">- актами терроризма, их последствиями<br /></span>
        <span style="font-family: Times New Roman, serif; font-size: medium;">- поездкой, предпринятой с целью получить лечение, а также ухудшением состояния/смертью из-за него<br /></span>
        <span style="font-family: Times New Roman, serif; font-size: medium;">- на лечение, являющееся целью поездки, и ухудшение здоровья, смертью в связи с ним<br /></span>
        <span style="font-family: Times New Roman, serif; font-size: medium;">- услуги медицинским учреждением/лицом, не имеющим соответствующей лицензии<br /></span>
        <span style="font-family: Times New Roman, serif; font-size: medium;">- иные исключения, предусмотренные разделом 5 Правил страхования № 1 в зависимости от дополнительных условий, включенных в договор добровольного страхования для застрахованного лица.<br /></span>
    </td>
  </tr>
  <tr>
    <td style="border: 1px solid #000000; border-bottom: none; border-top: none; padding: 5px 10px; font-size: medium;" valign="top" width="759">
      <p style="margin-bottom: 0cm; orphans: 0; widows: 0;" align="justify">
        <strong><span style="font-family: Times New Roman, serif; font-size: medium;">Не являются страховыми случаями повреждение здоровья, смерть, возникшие при:<br /></span></strong>
        <span style="font-family: Times New Roman, serif; font-size: medium;">- судорожных состояниях<br /></span>
        <span style="font-family: Times New Roman, serif; font-size: medium;">- употреблении алкогольсодержащих, наркотических, токсических, психоактивных веществ<br /></span>
        <span style="font-family: Times New Roman, serif; font-size: medium;">- при занятиях экстремальным спортом/активностями (фрирайд, альпинизм, скалолазание, ледолазание, дайвинг, трекинг, погружение в подводные пещеры и пр.) на разовой (во время отпуска, каникул и пр.) или профессиональной основе<br /></span>
        <span style="font-family: Times New Roman, serif; font-size: medium;">- службе Застрахованного в любых вооруженных формированиях<br /></span>
        <span style="font-family: Times New Roman, serif; font-size: medium;">- неправильных лечебных манипуляциях<br /></span>
        <span style="font-family: Times New Roman, serif; font-size: medium;">- нарушении правил техники безопасности выполнения работы по найму<br /></span>
        <span style="font-family: Times New Roman, serif; font-size: medium;">- передаче управления транспортным средством лицу в состоянии алкогольного, наркотического, токсического опьянения, или не имеющему права на его вождение<br /></span>
        <span style="font-family: Times New Roman, serif; font-size: medium;">- поездке, предпринятой для работы по найму, предпринимательской деятельности, связанной с повышенной опасностью (как шахтер, строитель, электромонтажник и т. п.)<br /></span>
        <span style="font-family: Times New Roman, serif; font-size: medium;">- вне срока действия договора страхования<br /></span>
        <span style="font-family: Times New Roman, serif; font-size: medium;">- иные исключения, предусмотренные пп. 4.4, 4.5 Правил страхования №2.<br /></span>
    </td>
  </tr>
  <tr>
    <td style="border: 1px solid #000000; border-top: none; padding: 5px 10px; font-size: medium;" valign="top" width="759">
      <p style="margin-bottom: 0cm; orphans: 0; widows: 0;" align="justify">
        <strong><span style="font-family: Times New Roman, serif; font-size: medium;">Не являются страховыми случаями повреждение/утрата/пропажа багажа в связи с:<br /></span></strong>
        <span style="font-family: Times New Roman, serif; font-size: medium;">- алкогольным, наркотическим, токсическим опьянением<br /></span>
        <span style="font-family: Times New Roman, serif; font-size: medium;">- самоубийством, умышленными действиями застрахованного (выгодоприобретателя), совершением им противоправного деяния<br /></span>
        <span style="font-family: Times New Roman, serif; font-size: medium;">- воздействием ядерного взрыва, радиации, радиоактивного или иного вида заражения<br /></span>
        <span style="font-family: Times New Roman, serif; font-size: medium;">- конфискацией, реквизицией, арестом, уничтожением багажа по распоряжению государственных органов<br /></span>
        <span style="font-family: Times New Roman, serif; font-size: medium;">- износом, ржавчиной, иными естественными изменениями, порчей багажа насекомыми или грызунами<br /></span>
        <span style="font-family: Times New Roman, serif; font-size: medium;">- непринятием своевременных мер к спасению багажа<br /></span>
        <span style="font-family: Times New Roman, serif; font-size: medium;">- повреждением багажа, направленного отдельно или почтовым отправлением, а также отдельных предметов багажа: наличные деньги, драгоценности, слитки, меховые изделия, произведения искусства, документы, протезы, линзы, животные, растения, средства транспорта, запчасти, спортинвентарь, аппаратура, нижнее белье и пр.<br /></span>
        <span style="font-family: Times New Roman, serif; font-size: medium;">Отказ в выплате страхового возмещения возможен, если страхователь сознательно не выполнил обязанности по договору страхования, не представил документы для определения размера ущерба, принятия решения о выплате страхового возмещения, идентификации, или они оформлены с нарушениями, содержат недостоверные сведения.<br /></span>
        <span style="font-family: Times New Roman, serif; font-size: medium;">Страховщик освобождается от выплаты страхового возмещения, если страховой случай произошел вследствие: воздействия ядерного взрыва, радиации и радиоактивного заражения; военных действий, мероприятий; гражданской войны, народных волнений; умысла страхователя (застрахованного).<br /></span>
        <span style="font-family: Times New Roman, serif; font-size: medium;">Страховщик в любом случае не возмещает расходы: связанные с возмещением морального вреда; превышающие установленные страховые суммы; несогласованные с Сервисным Центром Страховщика приведшие к увеличению убытков Страховщика.<br /><br /></span></p>
    </td>
  </tr>
  </tbody>
</table>
<table style="width: 778px; margin-left: auto; margin-right: auto;" border="1px solid rgb(0, 0, 0)" width="778" cellspacing="0" cellpadding="9"><colgroup><col width="759" /></colgroup>
  <tbody>
  <tr>
    <td style="border: 1px solid #000000; padding: 5px 10px; text-align: center; font-family: Times New Roman, serif;" valign="top">
      <strong>Раздел III. ТЕРРИТОРИЯ СТРАХОВАНИЯ</strong>
    </td>
  </tr>
  <tr>
    <td style="border: 1px solid #000000; text-align: center; padding: 5px 10px; font-size: medium; font-family: Times New Roman, serif;" valign="top">
      Страхование действует на территории России в поездках на расстояние не менее 100 км от административных границ постоянного места жительства.
    </td>
  </tr>
  </tbody>
</table>
<table style="width: 778px; margin-left: auto; margin-right: auto;" border="1px solid rgb(0, 0, 0)" width="778" cellspacing="0" cellpadding="9"><colgroup><col width="759" /></colgroup>
  <tbody>
  <tr>
    <td style="border: 1px solid #000000; padding: 5px 10px; font-family: Times New Roman, serif; font-size: medium; text-align: center" valign="top" width="759">
        <strong>Раздел IV. КАК ПОЛУЧИТЬ СТРАХОВУЮ ВЫПЛАТУ?</strong>
    </td>
  </tr>
  <tr>
    <td style="border: 1px solid #000000; padding: 5px 10px; font-size: medium;" valign="top" width="759">
      <p style="margin-bottom: 0cm;" align="justify"><span style="font-family: Times New Roman, serif; font-size: medium;"><span style="letter-spacing: -0.266667px;">Для получения медицинской и иной помощи:<br /></span></span><span style="font-family: Times New Roman, serif; font-size: medium;"><span style="letter-spacing: -0.266667px;">1. До получения услуг проинформировать Сервисный центр Страховщика о случившемся. При невозможности сразу связаться с Сервисным центром сделать это при первой возможности и не оплачивать услуги без его подтверждения. При несчастном случае &ndash; в течение 30 календарных дней с момента происшествия либо с момента устранения обстоятельств, препятствующих соблюдению этого срока, известить Страховщика о его наступлении любым доступным способом: по телефону, факсу, электронной почте или с помощью письменного извещения о страховом случае.<br /></span></span><span style="font-family: Times New Roman, serif; font-size: medium;"><span style="letter-spacing: -0.266667px;">2. Согласовывать свои действия и следовать указаниям оператора Сервисного центра.<br /></span></span><span style="font-family: Times New Roman, serif; font-size: medium;"><span style="letter-spacing: -0.266667px;">3. При получении услуг предъявить страховой полис и удостоверение личности.<br /></span></span><span style="font-family: Times New Roman, serif; font-size: medium;"><span style="letter-spacing: -0.266667px;">4. Уплатить франшизу, если она предусмотрена договором страхования.<br /></span></span><span style="font-family: Times New Roman, serif; font-size: medium;"><span style="letter-spacing: -0.266667px;">5. Соблюдать предписания врача, распорядок медицинского учреждения.<br /></span></span><span style="font-family: Times New Roman, serif; font-size: medium;"><span style="letter-spacing: -0.266667px;">6. Письменно обосновать причину невыполнения указанных выше требований.<br /></span></span><span style="font-family: Times New Roman, serif; font-size: medium;"><span style="letter-spacing: -0.266667px;">7. Сервисный центр организует оказание услуг в соответствии с инфраструктурой, режимом, регламентом работы лечебных учреждений и иных служб.<br /></span></span><span style="font-family: Times New Roman, serif; font-size: medium;"><span style="letter-spacing: -0.266667px;">8. Страховщик оплачивает расходы Сервисного центра по оказанным услугам в соответствии с разделом 9 Правил страхования.<br /></span></span><span style="font-family: Times New Roman, serif; font-size: medium;"><span style="letter-spacing: -0.266667px;">9. Сервисный центр вправе рекомендовать самостоятельно и за свой счет обратиться за получением необходимых услуг. Для возмещения понесенных расходов, а также получения&nbsp; выплаты при несчастном случае, порче/утрате багажа представить страховщику в течение 30 календарных дней после возвращения из поездки заявление о страховом случае и оригиналы документов, подтверждающих факт наступления страхового случая, размер понесенных расходов в соответствии с пп. 9.5 Правил страхования № 1, пп. 0.1.1&ndash;10.1.3, 10.2 Правил страхования № 2, пп. 9.2.1, 9.2.2 Правил страхования № 3. Страховщик принимает решение о страховой выплате в при несчастном случае в течение 30 рабочих дней / при порче/утрате багажа в течение 15 рабочих дней с момента получения им всех необходимых документов, выплата производится в течение 15 рабочих дней с даты утверждения Акта о страховом случае, а при возмещении расходов на медицинскую помощь выплата осуществляется в течение 15 рабочих дней с даты получения им всех необходимых документов. Порядок и сроки выплаты страхового возмещения установлены п. 9.8 Правил страхования № 1, пп. 9.4, 10.3 Правил страхования № 2, пп. 9.2.3, 9.2.4, 9.5 Правил страхования № 3.<br /><br /></span></span></p>
    </td>
  </tr>
  </tbody>
</table>
<table style="width: 778px; margin-left: auto; margin-right: auto;" border="1px solid rgb(0, 0, 0)" width="778" cellspacing="0" cellpadding="9"><colgroup><col width="394" /><col width="347" /></colgroup>
  <tbody>
  <tr>
    <td style="border: 1px solid #000000; padding: 5px 10px; font-family: Times New Roman, serif; text-align: center" colspan="2" valign="top">
        <strong>Раздел&nbsp;V. КАК ВЕРНУТЬ СТРАХОВУЮ ПРЕМИЮ?</strong>
    </td>
  </tr>
  <tr>
    <td style="border: 1px solid #000000; padding: 5px 10px; width: 396.175px;">
      <p align="justify"><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;"><strong>Основания для возврата страховой премии</strong></span></span></p>
    </td>
    <td style="border: 1px solid #000000; padding: 5px 10px; width: 347.325px;">
      <p align="justify"><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;"><strong>Сумма возврата страховой премии</strong></span></span></p>
    </td>
  </tr>
  <tr>
    <td style="border: 1px solid #000000; padding: 5px 10px; width: 396.175px;">
      <p align="justify"><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;">1.Отказ от договора добровольного страхования в течение 14 календарных дней со дня его заключения (п. 11.5 Правил страхования № 1, п. 6.11 Правил страхования № 2, п. 8.9 Правил страхования № 3)</span></span></p>
    </td>
    <td style="border: 1px solid #000000; padding: 5px 10px; width: 347.325px;">
      <p style="margin-bottom: 0cm; orphans: 0; widows: 0;" align="justify"><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;">100% страховой премии при отказе от договора добровольного страхования до даты начала действия страхования.<br /></span></span><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;">100% страховой премии за вычетом части страховой премии, исчисляемой пропорционально времени, в течение которого действовало страхование, при отказе от договора добровольного страхования после даты начала действия страхования.<br /><br /></span></span></p>
    </td>
  </tr>
  <tr>
    <td style="border: 1px solid #000000; padding: 5px 10px; width: 396.175px;">
      <p align="justify"><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;">2.Отказ от договора добровольного страхования в случае ненадлежащего информирования об условиях страхования</span></span></p>
    </td>
    <td style="border: 1px solid #000000; padding: 5px 10px; width: 347.325px;">
      <p align="justify"><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;">100% страховой премии за вычетом части страховой премии, исчисляемой пропорционально времени, в течение которого действовало страхование.</span></span></p>
    </td>
  </tr>
  <tr>
    <td style="border: 1px solid #000000; padding: 5px 10px; width: 396.175px;" height="7">
      <p align="justify"><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;">3.Прекращение договора добровольного страхования по письменному требованию страхователя до начала действия страхования.</span></span></p>
    </td>
    <td style="border: 1px solid #000000; padding: 5px 10px; width: 347.325px;">
      <p align="justify"><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;">100% страховой премии.</span></span></p>
    </td>
  </tr>
  <tr>
    <td style="border: 1px solid #000000; padding: 5px 10px; width: 396.175px;" height="65">
      <p align="justify"><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;">4.Возможность наступления страхового случая отпала и существование риска прекратилось по обстоятельствам иным, чем страховой случай (в случае невыезда в поездку, в случае досрочного возвращения из поездки) обстоятельствам иным, чем страховой случай</span></span></p>
    </td>
    <td style="border: 1px solid #000000; padding: 5px 10px; width: 347.325px;">
      <p align="justify"><span style="font-family: Times New Roman, serif; font-size: medium;">100% страховой премии за вычетом части страховой премии за фактическое количество дней пребывания на территории страхования за вычетом расходов на страховщика.<br /></span><span style="font-family: Times New Roman, serif; font-size: medium;">Премия не возвращается, если о невыезде или досрочном возвращении страхователь заявляет после истечения периода страхования.<br /></span><span style="font-family: Times New Roman, serif; font-size: medium;">Премия не возвращается, если договор оформлен на полгода или год с условием многократных выездов на территорию страхования</span></p>
    </td>
  </tr>
  <tr>
    <td style="border: 1px solid #000000; padding: 5px 10px;" colspan="2">
      <p align="justify"><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;"><strong>В иных случаях страховая премия возврату не подлежит.</strong></span></span></p>
    </td>
  </tr>
  <tr style="height: auto;">
    <td style="border: 1px solid #000000; padding: 5px 10px; height: auto; width: 759.45px;" colspan="2" valign="top">
      <p style="margin-bottom: 0cm; orphans: 0; widows: 0;" align="justify"><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;">Возврат страховой премии осуществляется в течение:<br /></span></span><strong>-&nbsp;</strong><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;">7 рабочих дней с даты получения Страховщиком письменного заявления страхователя об отказе от договора добровольного страхования (</span></span><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;">по пп.&nbsp;</span></span><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;">2 настоящего раздела);<br /></span></span><strong>-&nbsp;</strong><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;">10 рабочих дней&nbsp;</span></span><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;">с даты получения Страховщиком заявления Страхователя об отказе от договора добровольного страхования&nbsp;</span></span><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;">(по п.&nbsp;1</span></span><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;"> настоящего раздела);<br /></span></span><strong>-&nbsp;</strong><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;">15 рабочих дней с даты получения Страховщиком всех необходимых документов&nbsp;</span></span><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;">(по пп.&nbsp;</span></span><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;">3, 4, 5 настоящего раздела)</span></span></p>
    </td>
  </tr>
  </tbody>
</table>
<table style="width: 778px; margin-left: auto; margin-right: auto;" border="1px solid rgb(0, 0, 0)" width="778" cellspacing="0" cellpadding="9"><colgroup><col width="759" /></colgroup>
  <tbody>
  <tr>
    <td style="border: 1px solid #000000; padding: 5px 10px; font-family: Times New Roman, serif; text-align: center" valign="top" width="759">
        <strong>Раздел VI. КАК УРЕГУЛИРОВАТЬ СПОР ДО СУДА?</strong>
    </td>
  </tr>
  <tr>
    <td style="border: 1px solid #000000; padding: 5px 10px;" valign="top" width="759">
      <p style="margin-bottom: 0cm;" align="justify"><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;"><span style="letter-spacing: -0.2pt;">Направить страховщику заявление (претензию) в письменной форме.<br />В случае если страховщик не удовлетворил заявление (претензию) и при этом размер требований не превышает 500 000 (пятьсот тысяч) рублей, до обращения в суд необходимо обратиться к уполномоченному по правам потребителей финансовых услуг (сайт: www.finombudsman.ru; адрес: 119017, г. Москва, Старомонетный пер., дом 3).<br />Рассмотрение уполномоченным по правам потребителей финансовых услуг обращения потребителя финансовых услуг осуществляется бесплатно.</span></span></span></p>
    </td>
  </tr>
  </tbody>
</table>
