<table style="break-before: page; width: 779px; margin-left: auto; margin-right: auto; border: 1px solid #000; border-collapse: collapse">
  <tbody>
  <tr>
    <td style="border-right: 1px solid #000; padding: 5px 10px; text-align: center; width: 80%; font-family: Times New Roman, serif; font-size: 12px;">
      <strong style="font-size: large;">Ключевой информационный документ<br /> об условиях страхования по договору страхования путешествующих</strong>
    </td>
    <td rowspan="2" style="padding: 0; text-align: center; width: 20%;">
      <p align="right"><a style="background-image: url('img/anchor.gif');" name="_GoBack"></a>&nbsp;<img src="blob:https://cms.aviakassa.com/0d709fb5-2ad4-4b4a-9cde-b36667b9a75e" alt="" width="100" height="100" /></p>
    </td>
  </tr>
  <tr>
    <td style="border-right: 1px solid #000; padding: 5px 10px; width: 80%; text-align: left; font-family: Times New Roman, serif;font-size: medium;">
      подготовлен на основании &laquo;Комплексных правил страхования пассажиров&raquo; от 03.06.2022 (далее &ndash; Правила страхования)
    </td>
  </tr>
  </tbody>
</table>
<table style="margin-left: auto; margin-right: auto;" width="779" cellspacing="0" cellpadding="9"><colgroup><col width="759" /></colgroup>
  <tbody>
  <tr>
    <td style="border: 1px solid #000000; padding: 5px 10px; font-size: medium;" valign="top" width="759">
      <p style="margin-bottom: 0;" align="justify"><span style="font-family: Times New Roman, serif;">Страховщик: СПАО &laquo;Ингосстрах&raquo;.<br /></span><span style="font-family: Times New Roman, serif; font-size: medium;">Адрес: 117997, г. Москва, ул. Пятницкая, д. 12, стр. 2</span></p>
    </td>
  </tr>
  </tbody>
</table>
<table style="width: 779px; margin-left: auto; margin-right: auto;" border="1px solid rgb(0, 0, 0)" width="779" cellspacing="0" cellpadding="9"><colgroup><col width="759" /></colgroup>
  <tbody>
  <tr>
    <td style="border: 1px solid #000000; padding: 5px 10px; text-align: center;font-family: Times New Roman, serif;" valign="top" width="759">
      <strong>Раздел I. ЧТО ЗАСТРАХОВАНО?</strong>
    </td>
  </tr>
  <tr>
    <td style="border: 1px solid #000000; padding: 5px 10px; font-size: medium;" valign="top" width="759">
      <p style="margin-bottom: 0;" align="justify"><span style="font-family: Times New Roman, serif;">Договор страхования предусматривает защиту от следующих рисков:<br /></span><span style="font-family: Times New Roman, serif;">- по страхованию медицинских расходов: внезапное заболевание, несчастный случай, в том числе повлекшие смерть застрахованного, если эти события произошли во время пребывания застрахованного на территории страхования, в период действия страхования и повлекли необходимость обращения за медицинскими услугам и/или возникновение расходов на оплату медицинской помощи (услуг).<br /></span><span style="font-family: Times New Roman, serif;">Страховщик возмещает непредвиденные расходы по организации медицинской помощи и иных услуг в связи с внезапным острым заболеванием, отравлением, обострением хронического заболевания, несчастным случаем, смертью: Медицинские услуги (по лечению в стационаре, амбулаторным обращениям; на оплату назначенных врачом медикаментов, перевязочных средств и средств фиксации; на экстренную стоматологическую помощь; на экстренную помощь при внематочной беременности; на проведение консультации врачей, в т.ч. дистанционных (пп. 5.1.1&ndash;5.1.4 Правил страхования)), Медико-транспортные услуги (эвакуация, экстренная медицинская репатриация, медицинская репатриация, медицинская транспортировка) (пп. 5.1.5&ndash;5.1.8 Правил страхования), Транспортные услуги (по возвращению домой, если отъезд задержался из-за госпитализации (п. 5.1.9 Правил страхования); по возращению несовершеннолетних детей, оставшихся без присмотра (п. 5.1.10 Правил страхования); по визиту родственника в случае длительной госпитализации (п. 5.1.11 Правил страхования)), Услуги по посмертной репатриации (п. 5.1.12 Правил страхования).<br /></span><span style="font-family: Times New Roman, serif;">По риску &laquo;Медицинская помощь&raquo; возмещаются также непредвиденные расходы на экстренную и неотложную помощь по лечению в стационаре и амбулаторным обращениям, медико-транспортные, транспортные услуги, посмертную репатриацию:<br /></span><span style="font-family: Times New Roman, serif;">- при обострении в поездках за границу РФ хронических заболеваний, предшествующих состояний (не связанных с осложнением беременности, родами, алкогольным отравлением, а также плановым лечением хронических заболеваний и/или предшествующих состояний)<br /></span><span style="font-family: Times New Roman, serif;">- при судорожных состояниях<br /></span><span style="font-family: Times New Roman, serif;">- при внематочной беременности<br /></span><span style="font-family: Times New Roman, serif;">- при первичной экстренной вакцинации, дезинфекции при угрозе жизни при укусе животного, насекомого, ранении и пр. (против бешенства, энцефалита и пр.)<br /></span><span style="font-family: Times New Roman, serif;">- иные виды расходов, указанные в программе страхования в договоре добровольного страхования для застрахованного лица.<br /><br /></span></p>
    </td>
  </tr>
  </tbody>
</table>
<table style="margin-left: auto; margin-right: auto;" width="779" cellspacing="0" cellpadding="9"><colgroup><col width="759" /> </colgroup>
  <tbody>
  <tr>
    <td style="border: 1px solid #000000; padding: 5px 10px; text-align: center;font-family: Times New Roman, serif;" valign="top" width="759">
      <strong>Раздел II. ЧТО НЕ ЗАСТРАХОВАНО?</strong>
    </td>
  </tr>
  <tr>
    <td style="border: 1px solid #000000; padding: 5px 10px; font-size: medium;" valign="top" width="759">
      <p style="margin-bottom: 0; orphans: 0; widows: 0;" align="justify"><span style="font-family: Times New Roman, serif;"><strong>Не являются страховыми случаями отмена, изменение сроков поездки в связи/по причине:<br /></strong></span><span style="font-family: Times New Roman, serif;">- не санкционированные Сервисным Центром Страховщика, оплаченные без обращения в Сервисный центр Страховщика при отсутствии на то уважительных причин<br /></span><span style="font-family: Times New Roman, serif;">- на неэкстренное (плановое) лечение хронических заболеваний, а также заболеваний, травм, состояний, известных или существующих к моменту начала страхования либо связанных с лечением, проводимым до начала страхования<br /></span><span style="font-family: Times New Roman, serif;">- на экстренную и неотложную медицинскую помощь, организацию иных услуг (транспортных, посмертной репатриации) при обострении хронического заболевания в поездке, предпринятой для цели получения лечения<br /></span><span style="font-family: Times New Roman, serif;">- на пребывание, проживание, транспортные расходы, питание в карантине, обсервации<br /></span><span style="font-family: Times New Roman, serif;">- на лечение, иные услуги вне страны наступления страхового случая, а также после возвращения из поездки или после прекращения действия договора<br /></span><span style="font-family: Times New Roman, serif;">- на проведение диагностических манипуляций, консультация, исследований, контрольных осмотров без последующего лечения, профилактических мероприятий, врачебных экспертиз, общих медицинских осмотров<br /></span><span style="font-family: Times New Roman, serif;">- на ангиографию и сложные операции (на сердце и сосудах, ангиопластика, стентирование, шунтирование и т. п.)<br /></span><span style="font-family: Times New Roman, serif;">- на лечение онкологических/опухолевых заболеваний, доброкачественных новообразований, их последствий<br /></span><span style="font-family: Times New Roman, serif;">- на ведение, прерывание беременности, родовспоможение и уход за новорожденным<br /></span><span style="font-family: Times New Roman, serif;">- на диагностирование и лечение серных пробок<br /></span><span style="font-family: Times New Roman, serif;">- на лечение венерических заболеваний, ЗППП, ВИЧ-инфекции, СПИДа, гепатита и их последствий (осложнений)<br /></span><span style="font-family: Times New Roman, serif;">- связанные с психическими заболеваниями, неврозами, усталостью, переутомлением<br /></span><span style="font-family: Times New Roman, serif;">- на пластическую и восстановительную хирургию, трансплантацию, протезирование (вкл. зубное), (эндо) протезы, имплантаты (вкл. наборы для ангиографии, ангиопластики, стентирования, кардиостимуляторов и пр.)<br /></span><span style="font-family: Times New Roman, serif;">- на протезирование зубов, ортодонтическое лечение, установку зубных имплантов, косметические и профилактические мероприятия, удаление зубного камня<br /></span><span style="font-family: Times New Roman, serif;">- при выполнении опасной работы по найму/занятии предпринимательской деятельностью<br /></span><span style="font-family: Times New Roman, serif;">- на лечение вследствие добровольного отказа от выполнения предписаний врача<br /></span><span style="font-family: Times New Roman, serif;">- на увеличение расходов следствие отказа от эвакуации домой (когда она разрешена по показаниям)<br /></span><span style="font-family: Times New Roman, serif;">- на мануальную терапию, рефлексотерапию, хиропрактику, массаж и т.п., реабилитацию, физиотерапию, санатории и т. п., а также лечение и репатриацию из-за заболеваний, явившихся следствием этого лечения<br /></span><span style="font-family: Times New Roman, serif;">- на лечение, не назначенное врачом, а также уход и лечение родственниками<br /></span><span style="font-family: Times New Roman, serif;">- на плановые операции и госпитализации<br /></span><span style="font-family: Times New Roman, serif;">- на лечение, являющееся целью поездки, и ухудшение здоровья, смертью в связи с ним<br /></span><span style="font-family: Times New Roman, serif;">- на дополнительный комфорт в стационаре, на переводчика<br /></span><span style="font-family: Times New Roman, serif; font-size: medium;">- связанные с передозировкой/неправильным применением лекарственных средств, индивидуальной непереносимостью<br /></span><span style="font-family: Times New Roman, serif; font-size: medium;">- связанные с употреблением наркотических, токсических, психоактивных веществ<br /></span><span style="font-family: Times New Roman, serif; font-size: medium;">- связанные со службой в любых вооруженных силах и формированиях<br /></span><span style="font-family: Times New Roman, serif; font-size: medium;">- связанные с актами терроризма и их последствиями<br /></span><span style="font-family: Times New Roman, serif; font-size: medium;">- иные исключения, предусмотренные разделом 14.2 Правил страхования в зависимости от дополнительных условий, включенных в договор добровольного страхования для застрахованного лица.<br /></span><span style="font-family: Times New Roman, serif; font-size: medium;">Отказ в выплате страхового возмещения возможен, если страхователь сознательно не выполнил обязанности по договору страхования, не представил документы для определения размера ущерба, принятия решения о выплате страхового возмещения, идентификации, или они оформлены с нарушениями, содержат недостоверные сведения.<br /></span><span style="font-family: Times New Roman, serif; font-size: medium;">Страховщик освобождается от выплаты страхового возмещения, если страховой случай произошел вследствие: воздействия ядерного взрыва, радиации и радиоактивного заражения; военных действий, мероприятий; гражданской войны, народных волнений; умысла страхователя (застрахованного).<br /></span><span style="font-family: Times New Roman, serif; font-size: medium;">Страховщик в любом случае не возмещает расходы: связанные с возмещением морального вреда; превышающие установленные страховые суммы; несогласованные с Сервисным Центром Страховщика приведшие к увеличению убытков Страховщика.<br /><br /></span></p>
    </td>
  </tr>
  </tbody>
</table>
<table style="margin-left: auto; margin-right: auto;" width="779" cellspacing="0" cellpadding="9"><colgroup><col width="759" /></colgroup>
  <tbody>
  <tr>
    <td style="border: 1px solid #000000; padding: 5px 10px; text-align: center; font-family: Times New Roman, serif;" valign="top" width="759">
      <strong>Раздел III. ТЕРРИТОРИЯ СТРАХОВАНИЯ</strong>
    </td>
  </tr>
  <tr>
    <td style="border: 1px solid #000000; padding: 5px 10px; font-size: medium;" valign="top" width="759">
      <p align="justify"><span style="font-family: Times New Roman, serif;">Страхование действует в странах (на территориях), указанных в поле Территория страхования в договоре добровольного страхования.</span></p>
    </td>
  </tr>
  </tbody>
</table>
<table style="margin-left: auto; margin-right: auto;" width="779" cellspacing="0" cellpadding="9"><colgroup><col width="759" /></colgroup>
  <tbody>
  <tr>
    <td style="border: 1px solid #000000; padding: 5px 10px; text-align: center; font-family: Times New Roman, serif;" valign="top" width="759">
      <strong>Раздел IV. КАК ПОЛУЧИТЬ СТРАХОВУЮ ВЫПЛАТУ? </strong>
    </td>
  </tr>
  <tr>
    <td style="border: 1px solid #000000; padding: 5px 10px; font-size: medium;" valign="top" width="759">
      <p style="margin-bottom: 0;" align="justify"><span style="font-family: Times New Roman, serif; font-size: medium;"><span style="letter-spacing: -0.266667px;">Для получения медицинской и иной помощи:<br /></span></span><span style="font-family: Times New Roman, serif; font-size: medium;"><span style="letter-spacing: -0.266667px;">1.До получения услуг проинформировать Сервисный центр Страховщика о случившемся. При невозможности сразу связаться с Сервисным центром сделать это при первой возможности и не оплачивать услуги без его подтверждения.<br /></span></span><span style="font-family: Times New Roman, serif; font-size: medium;"><span style="letter-spacing: -0.266667px;">2.Согласовывать свои действия и следовать указаниям оператора Сервисного центра.<br /></span></span><span style="font-family: Times New Roman, serif; font-size: medium;"><span style="letter-spacing: -0.266667px;">3.При получении услуг предъявить страховой полис и удостоверение личности.<br /></span></span><span style="font-family: Times New Roman, serif; font-size: medium;"><span style="letter-spacing: -0.266667px;">4.Уплатить франшизу, если она предусмотрена договором страхования.<br /></span></span><span style="font-family: Times New Roman, serif; font-size: medium;"><span style="letter-spacing: -0.266667px;">5.Соблюдать предписания врача, распорядок медицинского учреждения.<br /></span></span><span style="font-family: Times New Roman, serif; font-size: medium;"><span style="letter-spacing: -0.266667px;">6.Письменно обосновать причину невыполнения указанных выше требований.<br /></span></span><span style="font-family: Times New Roman, serif; font-size: medium;"><span style="letter-spacing: -0.266667px;">7.Сервисный центр организует оказание услуг в соответствии с инфраструктурой, режимом, регламентом работы лечебных учреждений и иных служб.<br /></span></span><span style="font-family: Times New Roman, serif; font-size: medium;"><span style="letter-spacing: -0.266667px;">8.Страховщик оплачивает расходы Сервисного центра по оказанным услугам в соответствии с разделом 4 Правил страхования.<br /></span></span><span style="font-family: Times New Roman, serif; font-size: medium;"><span style="letter-spacing: -0.266667px;">9.Сервисный центр вправе рекомендовать самостоятельно и за свой счет обратиться за получением необходимых услуг. Для возмещения понесенных расходов представить страховщику в течение 30 календарных дней после возвращения из поездки заявление о страховом случае и оригиналы документов, подтверждающих факт наступления страхового случая, размер понесенных расходов в соответствии с пп. 10.8&ndash;10.10 Правил страхования. Решение о выплате (отказе) страхового возмещения принимается в течение 30 рабочих дней с даты получения Страховщиком всех необходимых документов. После принятия решения в течение 15 рабочих дней Страховщик осуществляет выплату либо в течение 3 рабочих дней направляет Страхователю письменное уведомление об отсутствии оснований для страховой выплаты. <br /></span></span><span style="font-family: Times New Roman, serif; font-size: medium;"><span style="letter-spacing: -0.266667px;">Порядок и сроки выплаты страхового возмещения установлены пп. 10.11&ndash;10.14 Правил страхования.<br /><br /></span></span></p>
    </td>
  </tr>
  </tbody>
</table>
<table style="margin-left: auto; margin-right: auto; width: 782px;" width="779" cellspacing="0" cellpadding="9"><colgroup><col width="394" /><col width="347" /></colgroup>
  <tbody>
  <tr>
    <td style="border: 1px solid #000000; padding: 5px 10px; width: 764.45px; text-align: center;font-family: Times New Roman, serif;" colspan="2" valign="top">
      <strong>Раздел V. КАК ВЕРНУТЬ СТРАХОВУЮ ПРЕМИЮ?</strong>
    </td>
  </tr>
  <tr>
    <td style="border: 1px solid #000000; padding: 5px 10px; width: 397.475px;font-family: Times New Roman, serif; font-size: medium;">
      <strong>Основания для возврата страховой премии</strong>
    </td>
    <td style="border: 1px solid #000000; padding: 5px 10px; width: 351.025px;font-family: Times New Roman, serif; font-size: medium;">
      <strong>Сумма возврата страховой премии</strong>
    </td>
  </tr>
  <tr>
    <td style="border: 1px solid #000000; padding: 5px 10px; width: 397.475px;">
      <p align="justify"><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;">1.Отказ от договора добровольного страхования в течение 14 календарных дней со дня его заключения (п. 12.7 Правил страхования)</span></span></p>
    </td>
    <td style="border: 1px solid #000000; padding: 5px 10px; width: 351.025px;">
      <p style="margin-bottom: 0; orphans: 0; widows: 0;" align="justify"><span style="font-family: Times New Roman, serif; font-size: medium;">Не распространяется на добровольное страхование, предусматривающее оплату медицинской помощи за границей РФ, посмертной репатриации.</span></p>
    </td>
  </tr>
  <tr>
    <td style="border: 1px solid #000000; padding: 5px 10px; width: 397.475px;">
      <p align="justify"><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;">2.Отказ от договора добровольного страхования в случае ненадлежащего информирования об условиях страхования</span></span></p>
    </td>
    <td style="border: 1px solid #000000; padding: 5px 10px; width: 351.025px;">
      <p align="justify"><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;">100% страховой премии за вычетом части страховой премии, исчисляемой пропорционально времени, в течение которого действовало страхование.</span></span></p>
    </td>
  </tr>
  <tr>
    <td style="border: 1px solid #000000; padding: 5px 10px; width: 397.475px;">
      <p align="justify"><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;">3.Прекращение договора добровольного страхования по письменному требованию страхователя до начала действия страхования</span></span></p>
    </td>
    <td style="border: 1px solid #000000; padding: 5px 10px; width: 351.025px;">
      <p align="justify"><span style="font-family: Times New Roman, serif; font-size: medium;">100% страховой премии<br /></span><span style="font-family: Times New Roman, serif; font-size: medium;">Премия не возвращается, если о невыезде страхователь заявляет после истечения периода страхования. Премия не возвращается в случае невыезда на территорию страхования при наличии действующей визы на территорию страхования, выданной после заключения договора страхования</span><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;">.</span></span></p>
    </td>
  </tr>
  <tr>
    <td style="border: 1px solid #000000; padding: 5px 10px; width: 397.475px;">
      <p align="justify"><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;">4.Возможность наступления страхового случая отпала и существование риска прекратилось по обстоятельствам иным, чем страховой случай (в случае невыезда в поездку, в случае досрочного возвращения из поездки)</span></span></p>
    </td>
    <td style="border: 1px solid #000000; padding: 5px 10px; width: 351.025px;" rowspan="2">
      <p align="justify"><span style="font-family: Times New Roman, serif; font-size: medium;">100% страховой премии за вычетом части страховой премии за фактическое количество дней пребывания на территории страхования (пропорционально времени, в течение которого действовало страхование) за вычетом расходов на страховщика.<br /></span><span style="font-family: Times New Roman, serif; font-size: medium;">Премия не возвращается, если о невыезде или досрочном возвращении страхователь заявляет после истечения периода страхования</span><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;">.<br /></span></span><span style="font-family: Times New Roman, serif; font-size: medium;">Премия не возвращается, если договор оформлен на полгода или год с условием многократных выездов на территорию страхования.<br /></span><span style="font-family: Times New Roman, serif; font-size: medium;">Премия не возвращается при наступлении страхового случая по договору добровольного страхования.</span></p>
    </td>
  </tr>
  <tr>
    <td style="border: 1px solid #000000; padding: 5px 10px; width: 397.475px;">
      <p align="justify"><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;">5.Соглашение сторон между Страхователем и Страховщиком</span></span></p>
    </td>
  </tr>
  <tr>
    <td style="border: 1px solid #000000; padding: 5px 10px; font-family: Times New Roman, serif; font-size: medium;" colspan="2">
      <strong>В иных случаях страховая премия возврату не подлежит.</strong>
    </td>
  </tr>
  <tr>
    <td style="border: 1px solid #000000; padding: 5px 10px;" colspan="2" valign="top">
      <p style="margin-bottom: 0; orphans: 0; widows: 0;" align="justify"><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;">Возврат страховой премии осуществляется в течение:<br /></span></span><strong>-&nbsp;</strong><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;">7 рабочих дней с даты получения Страховщиком письменного заявления страхователя об отказе от договора добровольного страхования (</span></span><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;">по п. </span></span><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;">2 настоящего раздела);<br /></span></span><strong>-&nbsp;</strong><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;">15 рабочих дней с даты получения Страховщиком всех необходимых документов&nbsp;</span></span><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;">(по пп.&nbsp;</span></span><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;">3, 4, 5 настоящего раздела)<br /></span></span></p>
    </td>
  </tr>
  </tbody>
</table>
<table style="margin-left: auto; margin-right: auto;" width="779" cellspacing="0" cellpadding="9"><colgroup><col width="759" /></colgroup>
  <tbody>
  <tr>
    <td style="border: 1px solid #000000; padding: 5px 10px; text-align: center; font-family: Times New Roman, serif;" valign="top" width="759">
        <strong>Раздел VI. КАК УРЕГУЛИРОВАТЬ СПОР ДО СУДА?</strong>
    </td>
  </tr>
  <tr>
    <td style="border: 1px solid #000000; padding: 5px 10px;" valign="top" width="759">
      <p style="margin-bottom: 0;" align="justify"><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;"><span style="letter-spacing: -0.2pt;">Направить страховщику заявление (претензию) в письменной форме.<br />В случае если страховщик не удовлетворил заявление (претензию) и при этом размер требований не превышает 500 000 (пятьсот тысяч) рублей, до обращения в суд необходимо обратиться к уполномоченному по правам потребителей финансовых услуг (сайт: www.finombudsman.ru; адрес: 119017, г. Москва, Старомонетный пер., дом 3).<br />Рассмотрение уполномоченным по правам потребителей финансовых услуг обращения потребителя финансовых услуг осуществляется бесплатно.<br /><br /></span></span></span></p>
    </td>
  </tr>
  </tbody>
</table>
