<table style="height: 135px; break-before: page; width: 779px; margin-left: auto; margin-right: auto;" border="1px solid rgb(0, 0, 0)" width="779" cellspacing="0" cellpadding="9"><colgroup><col width="560" /> <col width="182" /> </colgroup>
  <tbody>
  <tr style="height: 135px;" valign="top">
    <td style="padding: 0cm; height: 135px; width: 586.583px;" height="77">
      <p style="margin-bottom: 0cm; orphans: 0; widows: 0;" align="center"><span style="font-family: Arial, serif;"><span style="font-size: medium;"><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;"><strong>Ключевой информационный документ</strong></span></span></span></span></p>
      <p style="margin-bottom: 0cm; orphans: 0; widows: 0;" align="center"><span style="font-family: Arial, serif;"><span style="font-size: medium;"><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;"><strong>об условиях договора комплексного страхования пассажиров от несчастных случаев и багажа во время перевозки</strong></span></span></span></span></p>
      <p style="margin-bottom: 0cm; orphans: 0; widows: 0;" align="center">&nbsp;</p>
      <p align="justify"><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;">подготовлен на основании &laquo;Комплексных правил страхования пассажиров&raquo; от 03.06.2022 (далее &ndash; Правила страхования)</span></span></p>
    </td>
    <td style="padding: 0cm; height: 135px; width: 190.817px;">
      <p style="orphans: 0; widows: 0;" align="right"><img src="blob:https://cms.aviakassa.com/c1031db9-221e-4c58-a2c4-be7fbcce99c3" alt="" width="141" height="141" /></p>
    </td>
  </tr>
  </tbody>
</table>
<table style="width: 779px; margin-left: auto; margin-right: auto;" border="1px solid rgb(0, 0, 0)" width="779" cellspacing="0"><colgroup><col width="759" /> </colgroup>
  <tbody>
  <tr>
    <td style="border: 1px solid #000000; padding: 0cm 0.19cm;" valign="top" width="759">
      <p style="margin-bottom: 0cm;" align="justify"><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;">Страховщик: СПАО &laquo;Ингосстрах&raquo;. </span></span></p>
      <p align="justify"><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;">Адрес: 117997, г. Москва, ул. Пятницкая, д. 12, стр. 2</span></span></p>
    </td>
  </tr>
  </tbody>
</table>
<table style="height: 218px; margin-left: auto; margin-right: auto;" width="779" cellspacing="0" cellpadding="9"><colgroup><col width="759" /> </colgroup>
  <tbody>
  <tr>
    <td style="border: 1px solid #000000; padding: 0cm 0.19cm; width: 763.033px;" valign="top">
      <p align="center"><span style="font-family: Times New Roman, serif;"><strong>Раздел I. ЧТО ЗАСТРАХОВАНО?</strong></span></p>
    </td>
  </tr>
  <tr>
    <td style="border: 1px solid #000000; padding: 0cm 0.19cm; width: 763.033px;" valign="top">
      <p style="margin-bottom: 0cm;" align="justify"><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;">Договор страхования предусматривает защиту от следующих рисков:</span></span></p>
      <p style="margin-bottom: 0cm;" align="justify"><strong>- </strong><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;"><em><strong>&laquo;</strong></em></span></span><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;"><em><strong>Страхование</strong></em></span></span><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;"><em><strong> от несчастных случаев&raquo;</strong></em></span></span><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;"><em>:</em></span></span> <span style="font-family: Times New Roman, serif;"><span style="font-size: medium;"><em>травма</em></span></span><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;"> из числа предусмотренных &laquo;</span></span><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;">Таблицей размеров страховых выплат по страхованию от несчастных случаев&raquo; (Приложение №&nbsp;5 к Правилам страхования)</span></span><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;"> (п.&nbsp;4.5.1.1 Правил страхования); </span></span><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;"><em>инвалидность 1, 2, 3 группы</em></span></span><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;"> в результате несчастного случая (п.&nbsp;4.5.1.2 Правил страхования). Инвалидность признается страховым случаем, если она наступила в течение одного года со дня несчастного случая, произошедшего в течение действия страхования.</span></span></p>
      <p align="justify"><strong>- </strong><a name="_GoBack"></a><span style="font-size: medium; font-family: Times New Roman, serif;"><em><strong>&laquo;Страхование багажа&raquo;</strong></em></span><span style="font-family: Times New Roman, serif;"><em>:</em></span> <span style="font-family: Times New Roman, serif;"><em>п</em></span><span style="font-family: Times New Roman, serif; font-size: medium;"><em>олная гибель или утрата (пропажа) перевозчиком (уполномоченным им лицом) зарегистрированного багажа </em></span><span style="font-family: Times New Roman, serif;">в </span><span style="font-family: Times New Roman, serif;">соответствии с пп.&nbsp;4.5.2.1 Правил страхования.</span></p>
    </td>
  </tr>
  </tbody>
</table>
<table style="margin-left: auto; margin-right: auto;" width="779" cellspacing="0" cellpadding="9"><colgroup><col width="759" /> </colgroup>
  <tbody>
  <tr>
    <td style="border: 1px solid #000000; padding: 0cm 0.19cm;" valign="top" width="759">
      <p align="center"><span style="font-family: Times New Roman, serif;"><strong>Раздел II. ЧТО НЕ ЗАСТРАХОВАНО?</strong></span></p>
    </td>
  </tr>
  <tr>
    <td style="border: 1px solid #000000; padding: 0cm 0.19cm;" valign="top" width="759">
      <p style="margin-bottom: 0cm; orphans: 0; widows: 0;" align="justify"><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;"><strong>Не являются страховыми случаями повреждение здоровья, возникшее при:</strong></span></span></p>
      <p style="margin-bottom: 0cm;" align="justify"><strong>- </strong><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;">судорожных состояниях</span></span></p>
      <p style="margin-bottom: 0cm;" align="justify"><strong>- </strong><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;">употреблении алкогольсодержащих, наркотических, токсических, психоактивных веществ</span></span></p>
      <p style="margin-bottom: 0cm;" align="justify"><strong>- </strong><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;">стихийных бедствиях, метеоусловиях, падении метеоритов, иных космических тел</span></span></p>
      <p style="margin-bottom: 0cm;" align="justify"><strong>- </strong><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;">иные исключения, предусмотренные п.&nbsp;4.6.1, 12.1&ndash;12.4 Правил страхования</span></span></p>
      <p style="margin-bottom: 0cm; orphans: 0; widows: 0;" align="justify"><span style="font-size: medium; font-family: Times New Roman, serif;"><strong>Не являются страховыми случаями утрата багажа в связи с:</strong></span></p>
      <p style="margin-bottom: 0cm; font-size: medium;" align="justify"><strong>- </strong><span style="font-family: Times New Roman, serif;">противоправным деянием застрахованного, страхователя, выгодоприобретателя</span></p>
      <p style="margin-bottom: 0cm; font-size: medium;" align="justify"><strong>- </strong><span style="font-family: Times New Roman, serif;">износом, ржавчиной, плесенью, обесцвечивание, иными естественными изменениями свойств багажа, порчей багажа насекомыми или грызунами</span></p>
      <p style="margin-bottom: 0cm; font-size: medium;" align="justify"><strong>- </strong><span style="font-family: Times New Roman, serif;">задержкой багажа для досмотра таможенными/пограничными и прочими органами</span></p>
      <p style="margin-bottom: 0cm; font-size: medium;" align="justify"><strong>- </strong><span style="font-family: Times New Roman, serif;">иные исключения, предусмотренные п.&nbsp;4.6.2, 12.1&ndash;12.4 Правил страхования</span></p>
      <p style="margin-bottom: 0cm;" align="justify"><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;"><span style="letter-spacing: -0.2pt;">Страховщик освобождается от выплаты страхового возмещения, если страховой случай произошел вследствие: воздействия ядерного взрыва, радиации и радиоактивного заражения; военных действий, мероприятий; гражданской войны, народных волнений; умысла страхователя (застрахованного).</span></span></span></p>
      <p align="justify"><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;">Страховщик в любом случае не возмещает расходы: связанные с возмещением морального вреда; превышающие установленные страховые суммы.</span></span></p>
    </td>
  </tr>
  </tbody>
</table>
<table style="margin-left: auto; margin-right: auto;" width="779" cellspacing="0" cellpadding="9"><colgroup><col width="759" /> </colgroup>
  <tbody>
  <tr>
    <td style="border: 1px solid #000000; padding: 0cm 0.19cm;" valign="top" width="759">
      <p align="center"><span style="font-family: Times New Roman, serif;"><strong>Раздел III. ТЕРРИТОРИЯ СТРАХОВАНИЯ</strong></span></p>
    </td>
  </tr>
  <tr>
    <td style="border: 1px solid #000000; padding: 0cm 0.19cm;" valign="top" width="759" height="4">
      <p align="justify"><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;">Страхование действует на территории всего мира только на время перевозки.</span></span></p>
    </td>
  </tr>
  </tbody>
</table>
<table style="margin-left: auto; margin-right: auto;" width="779" cellspacing="0" cellpadding="9"><colgroup><col width="759" /> </colgroup>
  <tbody>
  <tr>
    <td style="border: 1px solid #000000; padding: 0cm 0.19cm;" valign="top" width="759">
      <p align="center"><span style="font-family: Times New Roman, serif;"><strong>Раздел I</strong></span><span style="font-family: Times New Roman, serif;"><span lang="en-US"><strong>V</strong></span></span><span style="font-family: Times New Roman, serif;"><strong>. КАК ПОЛУЧИТЬ СТРАХОВУЮ ВЫПЛАТУ?</strong></span></p>
    </td>
  </tr>
  <tr>
    <td style="border: 1px solid #000000; padding: 0cm 0.19cm;" valign="top" width="759">
      <p style="margin-bottom: 0cm;" align="justify"><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;"><span style="letter-spacing: -0.2pt;">1.В течение 30 календарных дней с момента происшествия письменно уведомить Страховщика о его наступлении.</span></span></span></p>
      <p align="justify"><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;">2.</span></span><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;">Для получения выплаты представить Страховщику заявление о страховом случае и оригиналы документов, подтверждающих в т.&nbsp;ч. факт наступления страхового случая, факт и размер понесенных расходов в соответствии с пп.&nbsp;</span></span><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;">11.2.1, 11.2.2, 11.2.4, 11.3, 11.4</span></span><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;"> Правил страхования. Страховщик принимает решение о страховой выплате в течение 30 рабочих дней с момента получения им всех необходимых документов, выплата производится в течение 15 рабочих дней с даты утверждения Акта о страховом случае. </span></span><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;"><span style="letter-spacing: -0.2pt;">Порядок и сроки выплаты страхового возмещения установлены пп.&nbsp;</span></span></span><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;">11.5&ndash;11.8 </span></span><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;"><span style="letter-spacing: -0.2pt;">Правил страхования.</span></span></span></p>
    </td>
  </tr>
  </tbody>
</table>
<table style="height: 740px; margin-left: auto; margin-right: auto;" width="779" cellspacing="0" cellpadding="9"><colgroup><col width="394" /> <col width="347" /> </colgroup>
  <tbody>
  <tr>
    <td style="border: 1px solid #000000; padding: 0cm 0.19cm; width: 761.433px;" colspan="2" valign="top">
      <p align="center"><span style="font-family: Times New Roman, serif;"><strong>Раздел </strong></span><span style="font-family: Times New Roman, serif;"><span lang="en-US"><strong>V</strong></span></span><span style="font-family: Times New Roman, serif;"><strong>. КАК ВЕРНУТЬ СТРАХОВУЮ ПРЕМИЮ?</strong></span></p>
    </td>
  </tr>
  <tr style="height: 34px;">
    <td style="border: 1px solid #000000; padding: 0cm 0.19cm; height: 34px; width: 396.367px;">
      <p style="orphans: 0; widows: 0;" align="justify"><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;"><strong>Основания для возврата страховой премии</strong></span></span></p>
    </td>
    <td style="border: 1px solid #000000; padding: 0cm 0.19cm; height: 34px; width: 349.1px;">
      <p style="orphans: 0; widows: 0;" align="justify"><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;"><strong>Сумма возврата страховой премии</strong></span></span></p>
    </td>
  </tr>
  <tr style="height: 156px;">
    <td style="border: 1px solid #000000; padding: 0cm 0.19cm; height: 156px; width: 396.367px;">
      <p style="orphans: 0; widows: 0;" align="justify"><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;">1.Отказ от договора добровольного страхования в течение 14 календарных дней со дня его заключения (п.&nbsp;7.16 Правил страхования)</span></span></p>
    </td>
    <td style="border: 1px solid #000000; padding: 0cm 0.19cm; height: 156px; width: 349.1px;">
      <p style="margin-bottom: 0cm; orphans: 0; widows: 0;" align="justify"><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;">100% страховой премии при отказе от договора добровольного страхования до даты начала действия страхования.</span></span></p>
      <p style="orphans: 0; widows: 0;" align="justify"><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;">100% страховой премии за вычетом части страховой премии, исчисляемой пропорционально времени, в течение которого действовало страхование, при отказе от договора добровольного страхования после даты начала действия страхования.</span></span></p>
    </td>
  </tr>
  <tr style="height: 75px;">
    <td style="border: 1px solid #000000; padding: 0cm 0.19cm; height: 75px; width: 396.367px;">
      <p style="orphans: 0; widows: 0;" align="justify"><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;">2.Отказ от договора добровольного страхования в случае ненадлежащего информирования об условиях страхования</span></span></p>
    </td>
    <td style="border: 1px solid #000000; padding: 0cm 0.19cm; height: 75px; width: 349.1px;">
      <p style="orphans: 0; widows: 0;" align="justify"><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;">100% страховой премии за вычетом части страховой премии, исчисляемой пропорционально времени, в течение которого действовало страхование</span></span></p>
    </td>
  </tr>
  <tr style="height: 89px;">
    <td style="border: 1px solid #000000; padding: 0cm 0.19cm; height: 89px; width: 396.367px;" height="7">
      <p style="orphans: 0; widows: 0;" align="justify"><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;">3.В случае отказа Страхователя от договора добровольного страхования в случае, если возможность наступления страхового случая отпала, и существование страхового риска прекратилось (отказ/отмена перевозки) по обстоятельствам иным, чем страховой случай</span></span></p>
    </td>
    <td style="border: 1px solid #000000; padding: 0cm 0.19cm; height: 89px; width: 349.1px;">
      <p style="orphans: 0; widows: 0;" align="justify"><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;">100% страховой премии при отказе от договора добровольного страхования до начала перевозки. Премия не возвращается, если о невыезде страхователь заявляет о своем невыезде после истечения периода страхования.</span></span></p>
    </td>
  </tr>
  <tr style="height: 89px;">
    <td style="border: 1px solid #000000; padding: 0cm 0.19cm; height: 89px; width: 396.367px;" height="65">
      <p style="orphans: 0; widows: 0;" align="justify"><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;">4.В случае отказа Страхователя от договора добровольного страхования, если возможность наступления страхового случая не отпала и существование страхового риска не прекратилось по обстоятельствам иным, чем страховой случай</span></span></p>
    </td>
    <td style="border: 1px solid #000000; padding: 0cm 0.19cm; height: 89px; width: 349.1px;">
      <p style="orphans: 0; widows: 0;" align="justify"><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;">100% страховой премии. Премия не возвращается, если страхователь заявляет о своем невыезде после истечения периода страхования или при наступлении страхового случая.</span></span></p>
    </td>
  </tr>
  <tr style="height: 75px;">
    <td style="border: 1px solid #000000; padding: 0cm 0.19cm; height: 75px; width: 396.367px;">
      <p style="orphans: 0; widows: 0;" align="justify"><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;">5.Соглашение сторон между Страхователем и Страховщиком</span></span></p>
    </td>
    <td style="border: 1px solid #000000; padding: 0cm 0.19cm; height: 75px; width: 349.1px;">
      <p style="orphans: 0; widows: 0;" align="justify"><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;">100% страховой премии за вычетом части страховой премии, исчисляемой пропорционально времени, в течение которого действовало страхование</span></span></p>
    </td>
  </tr>
  <tr style="height: 34px;">
    <td style="border: 1px solid #000000; padding: 0cm 0.19cm; height: 34px; width: 761.433px;" colspan="2">
      <p style="orphans: 0; widows: 0;" align="justify"><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;"><strong>В иных случаях страховая премия возврату не подлежит.</strong></span></span></p>
    </td>
  </tr>
  <tr style="height: auto;">
    <td style="border: 1px solid #000000; padding: 0cm 0.19cm; height: auto; width: 761.433px;" colspan="2" valign="top">
      <p style="margin-bottom: 0cm; orphans: 0; widows: 0;" align="justify"><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;">Возврат страховой премии осуществляется в течение:</span></span></p>
      <p style="margin-bottom: 0cm;" align="justify"><strong>- </strong><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;">7 рабочих дней с даты получения Страховщиком письменного заявления страхователя об отказе от договора добровольного страхования (</span></span><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;">по пп.&nbsp;</span></span><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;">2 настоящего раздела);</span></span></p>
      <p style="margin-bottom: 0cm;" align="justify"><strong>- </strong><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;">10 рабочих дней </span></span><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;">с даты получения Страховщиком заявления Страхователя об отказе от договора добровольного страхования </span></span><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;">(по п.&nbsp;1</span></span><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;"> настоящего раздела)</span></span></p>
      <p align="justify"><strong>- </strong><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;">15 рабочих дней с даты получения Страховщиком всех необходимых документов </span></span><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;">(по пп.&nbsp;</span></span><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;">3, 4, 5 настоящего раздела)</span></span></p>
    </td>
  </tr>
  </tbody>
</table>
<table style="margin-left: auto; margin-right: auto;" width="779" cellspacing="0" cellpadding="9"><colgroup><col width="759" /> </colgroup>
  <tbody>
  <tr>
    <td style="border: 1px solid #000000; padding: 0cm 0.19cm;" valign="top" width="759">
      <p align="center"><span style="font-family: Times New Roman, serif;"><strong>Раздел </strong></span><span style="font-family: Times New Roman, serif;"><span lang="en-US"><strong>VI</strong></span></span><span style="font-family: Times New Roman, serif;"><strong>. КАК УРЕГУЛИРОВАТЬ СПОР ДО СУДА?</strong></span></p>
    </td>
  </tr>
  <tr>
    <td style="border: 1px solid #000000; padding: 0cm 0.19cm;" valign="top" width="759">
      <p style="margin-bottom: 0cm;" align="justify"><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;"><span style="letter-spacing: -0.2pt;"> Направить страховщику заявление (претензию) в письменной форме. <br />В случае если страховщик не удовлетворил заявление (претензию) и при этом размер требований не превышает 500 000 (пятьсот тысяч) рублей, до обращения в суд необходимо обратиться к уполномоченному по правам потребителей финансовых услуг (сайт: www.finombudsman.ru; адрес: 119017, г. Москва, Старомонетный пер., дом 3). <br />Рассмотрение уполномоченным по правам потребителей финансовых услуг обращения потребителя финансовых услуг осуществляется бесплатно. </span></span></span></p>
    </td>
  </tr>
  </tbody>
</table>
<p>&nbsp;</p>
